@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  min-width: 1280px;
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif, Arial;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-index {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  position: relative;
  z-index: 1;
  display: flex;
  max-width: 1060px;
  margin-left: 70px;
  min-height: 64px;
}

.navigation-logo {
  margin-right: 29px;
  height: 64px;
}

.logo:hover {
  opacity: 70%;
}

.logo:active {
  opacity: 50%;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 338px;
  max-width: 463px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.navigation-item {
  display: flex;
}

.navigation-list-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  min-width: 268px;
  max-width: 400px;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.navigation-link {
  position: relative;
  padding: 20px 16px;
  text-decoration: none;
  color: #000000;
}

.navigation-current {
  cursor: default;
}

.navigation-current::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 16px;
  right: 16px;
  border-bottom: 2px solid #756257;
}

.mouse:hover {
  opacity: 60%;
}

.mouse:active {
  opacity: 30%;
}

.navigation-link-user {
  width: 44px;
  min-height: 64px;
  text-decoration: none;
  color: #000000;
}

.navigation-link-user:hover {
  opacity: 60%;
}

.navigation-link-user:active {
  opacity: 30%;
}
.navigation-item-like {
  display: flex;
}

.navigation-link-user {
  background-image: url("../images/header/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-item-like .navigation-link-user {
  position: relative;
  background-image: url("../images/header/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.like {
  position: absolute;
  box-sizing: border-box;
  min-width: 20px;
  min-height: 20px;
  max-width: 60px;
  max-height: 120px;
  overflow: hidden;
  left: 20px;
  top: 11px;
  padding: 5px;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #7DB54F;
  border-radius: 10px;
}

.navigation-link-button {
  display: grid;
  min-width: 160px;
  max-width: 230px;
  min-height: 36px;
  margin-left: 20px;
  text-align: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color:#756157;
  border-radius: 6px;
}

.navigation-link-button:hover,
.button-user:focus {
  background-color: #615048;
}

.navigation-link-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.hero {
  position: relative;
  min-height: 352px;
  padding: 51px 0 82px;
  margin-bottom: 69px;
  text-align: center;
  background-color: #cbcdce;
  background-image: url("../images/hero/hero_background.jpg");
  background-size: cover;
}

.hero::after {
  position: absolute;
  content: "";
  width: 100%;
  min-height: 57px;
  left: 0;
  background: url("../images/hero/divider.svg") no-repeat;
  bottom: 0;
  z-index: 1;
}

.hero-title {
  min-width: 458px;
  display: block;
  margin: 0 auto;
}

.advantages {
  margin-bottom: 64px;
}

.advantages-title {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-text {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 91px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.advantages-item {
  width: 400px;
  min-height: 385px;
  background-color: #82b3d3;
  color: #ffffff;
}

.wide {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  background-color: #82b3d3;
}

.advantages-item-wrapper {
  min-width: 230px;
  min-height: 181px;
  padding: 102px 85px;
}

.other {
  min-width: 230px;
  min-height: 161px;
  padding: 112px 80px;
}

.advantages-item-title {
  position: relative;
  margin: 0;
  padding-bottom: 31px;
  margin-bottom: 31px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.shift {
  margin-left: -3px;
}

.advantages-item-title::after {
  position: absolute;
  left: 85px;
  bottom: -1px;
  width: 60px;
  height: 2px;
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
}

.wide .advantages-item-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-item-text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-item-img {
  width: 800px;
  min-height: 385px;
  object-fit: cover;
}

.revers {
  flex-direction: row-reverse;
}

.light {
  background-color: rgba(131, 179, 211, 0.12);
}

 .semilight {
  background-color: rgba(131, 179, 211, 0.2);
}

.title-black {
  color: #000000;
}

.text-gray {
  color: #333333;
}

.features-title {
  width: 510px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.features-text {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 64px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.features-item {
  width: 230px;
  min-height: 238px;
  padding: 81px 85px;
  background-color: rgba(131, 179, 211, 0.12);
}

.clear {
  background-color: #ffffff;
}

.features-item:nth-child(1) {
  background-image: url("../images/features/hotel_icon.svg");
  background-repeat: no-repeat;
  background-position: 163px 81px;
}

.features-item:nth-child(2) {
  background-image: url("../images/features/burger_icon.svg");
  background-repeat: no-repeat;
  background-position: 163px 81px ;
}

.features-item:nth-child(3) {
  background-image: url("../images/features/souvenir_icon.svg");
  background-repeat: no-repeat;
  background-position: 163px 81px ;
}

.features-item-title {
  margin-top: 102px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.features-item-text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.search-hotel {
  min-height: 391px;
}

.search-hotel-wrapper {
  width: 592px;
  min-height: 214px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 96px;
  text-align: center;
}

.search-title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-text {
  margin: 0;
  margin-bottom: 54px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.search-button {
  box-sizing: border-box;
  display: block;
  width: 376px;
  margin: 0 auto;
  padding: 8px 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color:#756157;
  border-radius: 4px;
}

.search-button:hover,
.search-button:focus {
  background-color: #615048;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.subletter-index {
  min-height: 415px;
  background: #488ad4;
  background-image: url("../images/features/subletter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.subletter-index-wrapper,
.subletter-hotels-wrapper {
  width: 684px;
  min-height: 215px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 104px;
  text-align: center;
}

.subletter-title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subletter-white {
  color: #ffffff;
}

.subletter-text {
  margin: 0;
  margin-bottom: 54px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.subletter-form {
  display: flex;
}

.subletter-field {
  box-sizing: border-box;
  min-width: 452px;
  height: 52px;
  padding: 14px 20px;
  font-family: "PT Sans", sans-serif, Arial;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  border: 0;
  border-radius: 4px 0 0 4px;
}

.subletter-field:hover {
  background: #E6E6E6;
}

.subletter-field:focus {
  background: #E6E6E6;
  padding-left: 20px;
  outline: 3px solid #83B3D3;
  border-radius: 4px 0 0 4px;
}

.subletter-field:not(:placeholder-shown) {
  background-color: #f2f2f2;
  border: 2px solid #000000;
}

.subletter-button {
  display: flex;
  box-sizing: border-box;
  min-width: 232px;
  min-height: 52px;
  padding: 14px;
  overflow: hidden;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color:#82b3d3;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.subletter-button:hover {
  color: #E6E6E6;
  background-color: #68A2CA;
}

.subletter-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1060px;
  min-height: 120px;
  margin-left: 70px;
}

.social {
  padding-top: 40px;
  padding-bottom: 30px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  width: 142px;
  padding: 0;
  margin: 0;
}

.social-item {
  list-style-type: none;
  text-align: center;
  align-items: center;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  min-height: 50px;
  padding-bottom: 4px;
}

.social-icon {
  fill: #83B3D3;
}

.social-icon:hover {
  fill: #68A2CA;
}

.social-icon:active {
  fill: rgba(104, 162, 202, 0.3);
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  width: 720px;
  justify-content: center;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 35px;
}

.contacts-phone-namber {
  display: block;
  padding-bottom: 4px;
  padding-left: 100px;
  padding-right: 100px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

 .contacts-phone-namber:hover,
 .contacts-phone-namber:focus {
  color: #756157;
}

 .contacts-phone-namber:active {
  color: rgba(117, 97, 87, 0.3);
}

.website {
  display: flex;
  flex-wrap: wrap;
  width: 115px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.website-item {
  display: block;
  min-height: 34px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.website-logo {
  fill: #000000;
}

.website-logo:hover,
.website-logo:focus {
  fill: #756157;
}

.website-logo:active {
  fill: rgba(117, 97, 87, 0.3);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 1;
}

.modal-container-close {
  display: none;
}

.modal-search {
  position: relative;
  box-sizing: border-box;
  width: 717px;
  min-height: 576px;
  border-radius: 30px;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-button::before,
.cross::after {
  position: absolute;
  top: 25px;
  left: 16px;
  width: 19px;
  height: 2px;
  background-color: #000000;
  content: "";
  transform: rotate(-45deg);
}

.cross::after {
  transform: rotate(45deg);
}

.modal-close-button:hover {
  background: #E6E6E6;
}

.modal-close-button:focus {
  background: #E6E6E6;
  outline: 3px solid #83B3D3;
  border-radius: 50%;
}

.modal-close-button:active {
  outline: none;
}

.modal-close-button:active::before,
.cross:active::after {
  opacity: 0.3;
}

.modal-close-button:disabled {
  background-color: #f2f2f2;
  opacity: 0.3;
  outline: none;
  cursor: default;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.field-group {
  display: grid;
  grid-template-columns: 137px 440px;
  margin: 0;
  margin-bottom: 23px;
  align-items: center;
}

.arrival-text {
  grid-column-start: 2;
  padding-left: 20px;
  font-size: 16px;
  line-height: 21px;
  color: #ff5757;
}

.departute-text {
  grid-column-start: 2;
  padding-left: 20px;
  font-family: "PT Sans", sans-serif, Arial;
  font-size: 16px;
  line-height: 21px;
}

.guests {
  display: grid;
  grid-template-columns: 137px 110px 147px 72px 111px;
  margin-bottom: 48px;
}

.arrival-data-title,
.departure-data-title,
.adults-guests-title,
.children-guests-title {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.children-guests-title {
  justify-self: end;
  padding: 11px;
}

.arrival-data-field,
.departure-data-field {
  box-sizing: border-box;
  width: 440px;
  height: 48px;
  margin-bottom: 5px;
  padding: 12px 20px;
  font-family: "PT Sans", sans-serif, Arial;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background: #f2f2f2;
  border: 0;
  border-radius: 4px;
  background-image: url("../images/modal/calendar.svg");
  background-repeat: no-repeat;
  background-position: 400px;
}

.arrival-data-field:hover,
.departure-data-field:hover {
  background: #E6E6E6;
  background-image: url("../images/modal/calendar.svg");
  background-repeat: no-repeat;
  background-position: 400px;
}

.arrival-data-field:focus,
.departure-data-field:focus {
  background: #E6E6E6;
  outline: 3px solid #83B3D3;
  border-radius: 4px;
  background-image: url("../images/modal/calendar.svg");
  background-repeat: no-repeat;
  background-position: 400px;
}

.children-info {
  display: block;
  position: relative;
  width: 26px;
  height: 26px;
  padding: 0;
  margin: auto 0;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: #83b3d3;
  background-image: url("../images/modal/tooltip.svg") ;
  background-repeat: no-repeat;
  background-position: center;
}

.tooltip {
  position: absolute;
  width: 256px;
  height: 150px;
  left: -115px;
  top: 40px;
  border: none;
  cursor: default;
}

.triangle {
  position: absolute;
  width: 19px;
  height: 9px;
  top: 31px;
  left: 3px;
  content: "";
  background-image: url("../images/modal/triangle.svg") ;
  display: none;
}

.children-info:hover .triangle,
.children-info:focus .triangle {
  display: block;
}

.tooltip-text {
  display: none;
  z-index: 1;
  width: 216px;
  padding: 20px 18px 23px 22px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  background: #333333;
}

.children-info:hover .tooltip-text,
.children-info:focus .tooltip-text {
  display: block;
}

.quantity-wrapper {
  display: flex;
  width: 110px;
  align-self: center;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.modal-button {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 14px 10px;
  border: transparent;
  cursor: pointer;
  background-color: #F2F2F2;
}

.modal-button::before,
.plus-button::after {
  position: absolute;
  top: 9px;
  left: 3px;
  width: 14px;
  height: 2px;
  background-color: rgba(117, 97, 87, 0.3);
  content: "";
}

.plus-button::after {
  transform: rotate(-90deg);
}

.modal-button:hover::before,
.plus-button:hover::after,
.modal-button:focus::before,
.plus-button:focus::after {
  background-color: #000000;
}

.modal-button:focus {
  outline: 3px solid #82B3D3;
  border-radius: 4px;
}

.modal-button:active::before,
.plus-button:active::after {
  opacity: 0.2;
}

.guest-field {
  width: 20px;
  padding: 5px 5px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  border: 0;
  background: #f2f2f2;
}

.guest-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.guest-field {
  -webkit-appearance: textfield;
          appearance: textfield;
}

.guest-field:hover {
  background: #E6E6E6;
}

.guest-field:focus {
  background: #E6E6E6;
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.search-hotels-button {
  box-sizing: border-box;
  width: 577px;
  min-height: 60px;
  padding: 10px;
  font-family: "PT Sans", sans-serif, Arial;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color:#83b3d3;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.search-hotels-button:hover,
.search-hotels-button :focus {
  background-color: #68A2CA;
}

.search-hotels-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.search-hotels-button:disabled {
  color: rgba(255, 255, 255, 0.1);
  outline: none;
  cursor: default;
}

.search-hotels-button:disabled:hover {
  background-color:#82b3d3;
}

.filters-wrapper {
  padding-top: 35px;
  padding-bottom: 69px;
  padding-right: 70px;
  padding-left: 70px;
  margin-bottom: 48px;
  background: #3e7fc9;
  background-image: url("../images/filters/filters_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.filters-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1060px;
  padding: 0;
  margin: 0;
  margin-left: -13px;
  margin-bottom: 40px;
  list-style-type: none;
}

.breadcrumbs-link {
  padding: 0 20px 1px 17px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.breadcrumbs-item {
  position: relative;
}

.home {
  background-image: url("../images/breadcrumbs/icon_home.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-item:not(:last-child) .breadcrumbs-link:hover {
  cursor: pointer;
  opacity: 60%;
}

.breadcrumbs-item:not(:last-child) .breadcrumbs-link:active {
  cursor: pointer;
  opacity: 30%;
}

.breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  bottom: 5px;
  width: 5px;
  height: 11px;
  content: "";
  background-image: url("../images/breadcrumbs/icon_vector.svg");
  background-repeat: no-repeat;
  background-position: center;
 }

.hotels-filter {
  display: flex;
}

.hotels-filter-group {
  min-width: 150px;
  margin: 0;
  padding: 0;
  border: none;
}

.hotels-filter-title {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.hotels-filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hotels-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.hotels-control {
  position: relative;
  display: block;
  padding-left: 36px;
  font-weight: 400;
  line-height: 23px;
  color: #ffffff;
  text-align: left;
  cursor: pointer;
}

.hotels-control:hover {
  opacity: 50%;
}

.hotels-control:focus {
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.hotels-control:active {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.hotels-control-input {
  cursor: pointer;
}

.hotels-control-input[type="checkbox"]:focus + .control-mark {
  box-sizing: border-box;
  background: #E6E6E6;
  outline : 3px solid #83B3D3;
}

.hotels-control-input[type="radio"]:focus + .control-mark-radio {
  box-sizing: border-box;
  background: #E6E6E6;
  outline : 3px solid #83B3D3;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
}

.hotels-control-input[type="checkbox"]:checked + .control-mark {
  position: absolute;
  background-image: url("../images/filters/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.hotels-filter-group-type {
  min-width: 150px;
  margin: 0;
  margin-left: 70px;
  padding: 0;
  border: none;
}

.control-mark-radio {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #ffffff;
}

.hotels-control-input[type="radio"]:checked + .control-mark-radio {
  position: absolute;
  background-image: url("../images/filters/dot.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.hotel-filter-price {
  width: 288px;
  min-height: 160px;
  margin-left: 141px;
}

.hotels-filter-group-price {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 44px;
  border: none;
}

.hotels-filter-title {
  margin-bottom: 31px;
}

.hotels-control-price {
  position: relative;
  display: flex;
  text-align: end;
}

.range-input {
  box-sizing: border-box;
  width: 143px;
  height: 48px;
  padding: 12px 40px 12px 20px;
  font-family: "PT Sans", sans-serif, Arial;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  border: 0;
  border-radius: 4px 0 0 4px;
}

.max {
  margin-left: 2px;
  border-radius: 0 4px 4px 0;
}

.range-input:focus {
  padding-left: 17px;
  background: #E6E6E6;
  outline: 3px solid #83B3D3;
  border: none;
}

.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.range-input {
  -webkit-appearance:textfield;
          appearance:textfield;
}

.range-input:hover {
  background: #E6E6E6;
}

.range-input:focus {
  padding-left: 17px;
  background: #E6E6E6;
  outline: none;
  border: 3px solid #83B3D3;
}

.from-to {
  position: absolute;
  right: 20px;
  top: 12px;
  opacity: 0.3;
  cursor: text;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.range-toggle:hover {
  background: #E6E6E6;
}

.range-toggle:focus {
  box-sizing: border-box;
  background: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -20px;
}

.hotel-filter-buttons {
  width: 191px;
  margin-left: 70px;
  margin-top: 56px;
}

.button-apply {
  width: 191px;
  min-height: 36px;
  padding: 8px;
  font-family: "PT Sans", sans-serif, Arial;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color:#82b3d3;
  border: 0;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
}

.button-apply:hover,
.button-apply:focus {
  background-color: #68A2CA;
}

.button-apply:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-apply:disabled {
  color: rgba(255, 255, 255, 0.1);
  outline: none;
  cursor: default;
}

.button-apply:disabled:hover {
  background-color:#82b3d3;
}

.button-reset {
  display: block;
  width: 191px;
  min-height: 36px;
  padding: 8px;
  border: 0;
  margin-top: 32px;
  font-family: "PT Sans", sans-serif, Arial;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background:none;
  cursor: pointer;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-reset:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:disabled {
  color: rgba(255, 255, 255, 0.1);
  cursor: default;
}

.button-reset:disabled:hover {
  color: rgba(255, 255, 255, 0.1);
}

.filters-view {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 1060px;
  min-height: 49px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.select-title {
  width: 338px;
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
 }

.select-control {
  width: 292px;
  height: 49px;
  margin-left: 200px;
  padding: 14px 40px 12px 20px;
  font-family: "PT Sans", sans-serif, Arial;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  cursor: pointer;
  -webkit-appearance: none;
          appearance: none;
  background-image: url("../images/filters/arrow_down.svg");
  background-repeat: no-repeat;
  background-position: right 19px center;
  background-color: #ffffff;
}

.select-control:hover,
.select-control:focus {
  outline: none;
  border-color: #68A2CA;
}

.select-control:active {
  border-color: #3F5E72;
}

.select-control:disabled {
  color: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.3);
  background-image: url("../images/filters/arrow_down_grey.svg");
  cursor: default;
}

.view-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 8px;
  width: 170px;
  margin: 0;
  padding: 0;
  margin-left: 60px;
  list-style-type: none;
}

.button-view {
  display: block;
  width: 44px;
  height: 44px;
  margin-top: 2px;
  border: 2px solid #000000;
  border-radius: 4px;
}

.button-view:hover {
  border: 2px solid #000000;
}

.button-view:focus {
  outline: none;
  border: 2px solid #68a2ca;
}

.button-view:active {
  border: 2px solid #000000;
}

.light-gray-border {
  border-color: #e5e5e5;
}

.cards {
  background-image: url("../images/hotels/view_icon_1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.card {
  background-image: url("../images/hotels/view_icon_2.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.list {
  background-image: url("../images/hotels/view_icon_3.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.hotel-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
  margin: 0;
  padding: 0;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 81px;
  list-style-type: none;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px 19px 18px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-image {
  display: block;
}

.hotel-card-title {
  margin-top: 17px;
  margin-bottom: 15px;
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel-card-title:hover {
  opacity: 60%;
}

.hotel-card-title:active {
  opacity: 30%;
}

.hotel-card-price {
  display: grid;
  grid-template-columns: 150px 150px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-cost {
  justify-self: end;
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  gap: 20px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.button-card {
  display: block;
  width: 126px;
  padding: 8px 7px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
}

.button-card:hover,
.button-card:focus {
  background-color: #615048;
}

.button-card:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-favorites {
  width: 140px;
  min-height: 36px;
  padding: 0;
  align-items: center;
  border: 0;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif, Arial;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #82B3D3;
  cursor: pointer;
}

.button-favorites:hover,
.button-favorites:focus {
  background-color: #68A2CA;
}

.button-favorites:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-favorites:disabled {
  background-color: #e5e5e5;
}

.button-favorites:disabled:hover {
  background-color: #e5e5e5;
  outline: none;
  cursor: default;
}

.in {
  background-color: #7db54f;
}

.in:hover,
.in:focus {
  background-color: #6C9E42;
}

.in:active {
  color: rgba(255, 255, 255, 0.3);
}

.rating-star {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  gap: 20px;
}

.rate {
  display: flex;
  width: 140px;
  min-height: 37px;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  border-radius: 4px;
  text-transform: uppercase;
  background: #f2f2f2;
  cursor: pointer;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 1060px;
  padding: 0;
  margin: 0;
  margin-left: 70px;
  margin-bottom: 60px;
}

.pagination-item {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  min-width: 60px;
  max-width: 240px;
  min-height: 60px;
  padding: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
  background: #82B3D3;
  border-radius: 4px;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68A2CA;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  color: #000000;
  background: #f2f2f2;
}

.pagination-current:hover {
  color: #000000;
  background: #f2f2f2;
}

.pagination-current:active {
  color: #000000;
  background: #f2f2f2;
}

.pagination-next {
  font-family: "PT Sans", sans-serif, Arial;
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
  color: #000000;
  background: #ffffff;
}

.pagination-next:hover,
.pagination-next:focus {
  color: #000000;
  background: #f2f2f2;
}

.pagination-next:active {
  color: rgba(0, 0, 0, 0.3);
  background: #ffffff;
}

.subletter-hotels {
  min-height: 215px;
}

.background {
  background: #f2f2f2;
}
