@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  min-width: 1280px;
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif, Arial;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;/*cover?contain*/
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-index {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  position: relative;
  display: flex;
  max-width: 1060px;
  margin-left: 70px;
  min-height: 64px;
}

.navigation-logo {
  margin-right: 30px;
  height: 64px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 338px;
  max-width: 463px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.navigation-item {
  display: flex;
  align-items: center;
}

.navigation-list-user {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: auto;
  padding: 0;
  min-width: 268px;
  max-width: 400px;
 }

.navigation-link {
  padding: 20px 16px;
  text-decoration: none;
  color: #000000;
}

.navigation-link-user {
  padding: 20px 12px;
  text-decoration: none;
  color: #000000;
}

.navigation-link-button {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color:#756157;
  min-width: 160px;
  max-width: 230px;
  min-height: 31px;
  text-align: center;
  border-radius: 6px;
  padding-top: 5px;
  margin-left: 20px;
}

.hero {
  min-height: 352px;
  padding: 51px 50px 82px;
  text-align: center;
  background-color: #cbcdce;
  background-image: url("../images/hero/divider.svg"), url("../images/hero/hero_background.jpg");
  background-size: 100%, cover;
  background-repeat: no-repeat;
  background-position: bottom center, center center;
}

.hero-title {
  min-width: 458px;
  display: block;
  margin: 0 auto;
}

.advantages {
  padding-top: 69px;
}
.advantages-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 25px;
}

.advantages-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 69px;
  color: #333333;
}

.advantages-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.advantages-item {
  width: 400px;
  height:385px;
  background-color: #82b3d3;
  color: #ffffff;
}

.wide {
  width: 1200px;
  display: flex;
  background-color: #82b3d3;
}

.advantages-item-wrapper {
  width: 230px;
  min-height: 181px;
  padding: 102px 85px;
}

.other {
  padding: 112px 85px 113px;
}

.advantages-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 62px;
}

.advantages-item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}
.advantages-item-img {
  width: 800px;
  height: 385px;
}
.revers {
  flex-direction: row-reverse;
}

.light {
  background-color: rgba(131, 179, 211, 0.12);
}

 .semilight {
  background-color: rgba(131, 179, 211, 0.2);
}

.black {
  color: #000000;
}

.gray {
  color: #333333;
}

.lightgray {
  color: rgba(0, 0, 0, 0.3);
}

.semigray {
  color: rgba(256, 256, 256, 0.3);
}

.features {
  padding-top: 64px;
}

.features-list {
  /*display: flex;*/
  display: grid;
  grid-template-columns: 400px 400px 400px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.features-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.features-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  margin: 0;
  margin-bottom: 64px;
}

.features-item {
  width: 400px;
  height:385px;
  background-color:rgba(131, 179, 211, 0.12)
}

.features-item-wrapper {
  width: 230px;
  min-height: 223px;
  padding: 81px 85px;
}
.features-item-white {
  width: 400px;
  height:385px;
}

.features-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 30px;
}

.features-item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin: 0;
}

.search-hotel {
  min-height: 406px;
}

.search-hotel-wrapper {
  width: 592px;
  height: 214px;
  margin: 0 auto;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 96px;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.search-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  margin-bottom: 54px;
}

.search-batton {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color:#756157;
  min-width: 376px;
  min-height: 52px;
  padding: 8px 50px;
  border-radius: 4px;
}

.subletter-index {
  min-height: 415px;
  background: #488ad4;
  background-image: url("../images/features/subletter.jpg");
  background-size: 100%, cover;
  background-repeat: no-repeat;
}

.subletter-index-wrapper, .subletter-hotels-wrapper {
  width: 684px;
  height: 215px;
  margin: 0 auto;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.white {
  color: #ffffff;
}

.subletter-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
}

.subletter-form {
  display: flex;
}

.subletter-field {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  border: 0;
  width: 432px;
  height: 52px;
  padding: 0;
  padding-left: 20px;
  border-radius: 4px 0 0 4px;
}

.subletter-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color:#82b3d3;
  border: none;
  border-radius: 0 4px 4px 0;
  min-width: 232px;
  min-height: 52px;
  padding: 8px;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  max-width: 1060px;
  margin-left: 70px;
  min-height: 120px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 30px;
}

.social-item {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}

.social-button {
  display: block;
  width: 47px;
  height: 40px;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.contacts-phone-namber {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.website {
  display: flex;
  padding-top: 40px;
  padding-bottom: 30px;
}

.filters-wrapper {
  background: #3e7fc9;
  background-image: url("../images/hotels/filters_background.jpg");
  background-size: 100%,cover;
  height: 307px;
  background-repeat: no-repeat;
  padding-top: 35px;
  padding-bottom: 70px;
  padding-right: 70px;
  padding-left: 70px;
  margin-bottom: 50px;
}

.filters-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

.hotels-filter {
  display: flex;
}

.hotels-filter-group {
  min-width: 150px;
  margin: 0;
  padding: 0;
 border: none;
}

.hotels-filter-group-type {
  min-width: 150px;
  margin: 0;
  padding: 0;
  border: none;
  margin-left: 70px;
}

.hotels-filter-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.hotels-filter-list {
  list-style-type: none;
  padding: 0;
  margin-top: 32px;
}

.hotels-filter-item {
  margin-top: 16px;
}

.hotels-control {
  font-weight: 400;
  line-height: 23px;
  color: #ffffff;
  text-align: left;
}

.hotel-filter-price {
  width: 288px;
  margin-left: 140px;
}

.hotel-filter-buttons {
  width: 191px;
  margin-left: 70px;
  margin-top: 56px;
}

.button-apply {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  width: 191px;
  height: 36px;
  background-color:#82b3d3;
  padding: 0;
  border: 0;
  border-radius: 4px;
  text-transform: uppercase;
}

.button-reset{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  width: 191px;
  height: 36px;
  text-transform: uppercase;
  display: block;
  background:none;
  padding: 0;
  border: 0;
  margin-top: 32px;
}

.filters-view {
  display: flex;
  align-items: center;
  width: 1060px;
  height: 49px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.select-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  width: 338px;
 }

.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 292px;
  height: 49px;
  border: 2px solid #f2f2f2;
  border-radius: 4px;
  margin-left: 200px;
}

.view-list {
  display: flex;
  width: 160px;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.button-view {
  padding: 10px 15px;
  border: 2px solid #000000;
  border-radius: 4px;

}

.light-gray-border {
  border: 2px solid #f2f2f2;
}

.hotel-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 60px;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.hotel-card-price {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  justify-content: space-between;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-top: auto;
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  gap: 20px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.rating-star {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  gap: 20px;
}

.rate {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  width: 140px;
  height: 29px;
  border-radius: 4px;
  text-align: center;
  padding-top: 7px;
  text-transform: uppercase;
  background: #f2f2f2;
}

.button-card {
  width: 126px;
  height: 22px;
  padding: 7px;
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color:#756157;
  border-radius: 4px;
}

.button-favorites {
  width: 140px;
  height: 36px;
  padding: 0;
  border: 0;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color:#82B3D3;
}

.in {
  background-color:#7db54f;
}

.pagination-list {
  max-width: 1060px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
  margin: 0;
  margin-left: 70px;
  margin-bottom: 60px;
}

.pagination-item {
  display: flex;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: block;
  box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;
  min-width: 60px;
  min-height: 60px;
  background: #82B3D3;
  border-radius: 4px;
  padding: 10px;
}

.pagination-current {
  color: #000000;
  background: #f2f2f2;
}

.pagination-next {

  color: #000000;
  background: #ffffff;
}

.subletter-hotels {
  min-height: 215px;
}

.background {
  background: #f2f2f2;
}
