@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
  margin: 0;
}
body ul {
  list-style-type: none;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.wrapper {
  background-color: #ffffff;
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.navigation-item {
  display: inline;
}
.navigation-link {
  text-decoration: none;
  color: #000000;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.hero-title {
  padding: 60px 380px;
  background-color: #cbcdce;
  background-image: url("../images/hero/divider.svg"), url("../images/hero/hero_background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom center, center center;
}
.advantages-list {
  display: inline-flex;
  padding: 0;
  margin: 0;
}
.advantages-list-2 {
  display: inline-flex;
  padding: 0;
  margin: 0;
}
.advantages-list-3 {
  display: inline-flex;
  padding: 0;
  margin: 0;
}
.advantages-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 69px 283px 25px 282px;
}
.advantages-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 22px 275px 69px 274px;
  color: #333333;
}
.advantages-item {
  width: 400px;
  height:384px;
  background-color: #82B3D3;
  color: #ffffff;
}
.light {
  background-color: rgba(131, 179, 211, 0.12);
 }
 .semilight {
  background-color: rgba(131, 179, 211, 0.2);
 }
.black {
  color: #000000;
}
.gray {
  color: #333333;
}
.advantage-item-img {
  width: 800px;
  height:384px;
}
.advantages-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}
.advantages-item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.features-list {
  display: inline-flex;
  padding: 0;
}
.features-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 64px 348px 20px 347px;
}
.features-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}
.features-item {
  width: 400px;
  height:384px;
  background-color:rgba(131, 179, 211, 0.12)
}
.features-item-white {
  width: 400px;
  height:384px;
}
.features-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}
.features-item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}
.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.search-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 20px 304px 54px 304px;
  color: #333333;
}
.search-batton {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color:#756157;
  width: 376px;
  height: 52px;
  display: block;
  border-radius: 4px;
  margin: 54px 412px 96px 412px;
}
.subletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  }
.white {
  color: #ffffff;
}
.subletter-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 20px 304px 54px 304px;
}
.subletter-field {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  border: 0;
  width: 452px;
  height: 52px;
}
.subletter-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color:#82b3d3;
  border: 0;
  border-radius: 0 4px 4px 0;
  width: 232px;
  height: 52px;
}
.subletter-index {
  padding: 84px 50px;
  background: #488ad4;
  background-image: url("../images/features/subletter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.contacts-phone-namber {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}
.filters-wrapper {
  background: #3e7fc9;
  background-image: url("../images/hotels/filters_background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.filters-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  text-align: center;
}
.breadcrumbs-link{
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}
.hotels-filter-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
}
.hotels-control {
  font-weight: 400;
  line-height: 23px;
  color: #ffffff;
  text-align: center;
}
.button-apply {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  width: 191px;
  height: 36px;
  background-color:#82b3d3;
  border: 0;
  border-radius: 4px;
  text-transform: uppercase;
}
.button-reset{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background:none;
  border: 0;
}
.select-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.hotel-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
}
.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
  width: 60px;
  height: 60px;
  background: #82B3D3;
  border-radius: 4px;
}
.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.rate {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  display: block;
  width: 140px;
  height: 37px;
  text-align: center;
  text-transform: uppercase;
  background: #f2f2f2;
}
.hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.button-card {
  width: 140px;
  height: 36px;
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color:#756157;
  border-radius: 4px;
}
.button-favorites {
  width: 140px;
  height: 36px;
  border: 0;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color:#82B3D3;
}
.in {
  background-color:#7db54f;
}
.pagination-item {
  display: inline-flex;
  text-align: center;
}
.next {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background: #f2f2f2;
}
.background {
  background: #f2f2f2;
}
.social-item {
  display: inline;
}
.page-footer {
  display: inline-flex;
}
