
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
@font-face {
	font-family: 'PT Sans Bold';
	font-style: normal;
	font-weight: 700;
	src: local('PT Sans'),
		url('/fonts/ptsans-700.woff2') format('woff2');
}
@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	src: local('PT Sans'),
		url('/fonts/ptsans-400.woff2') format('woff2');
    }
img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.title {
  font-family: "PT Sans Bold", "Arial", sans_serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  align-content: center;
  text-transform: uppercase;
  }
.filters-title {
  font-family: "PT Sans Bold", "Arial", sans_serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: white;
  align-content: center;
}
.text {font-family: "PT Sans", "Arial", sans_serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  align-content: center;
}
.hero-title {
  background: rgb(68, 177, 196);
  background-image: url(../images/hero/index_background.jpg);
}
.subletter-index {
  background: rgb(72, 138, 212);
  background-image: url(../images/featches/subletter_1.jpg);
}
.filters {
  background: rgb(62, 127, 201);
  background-image: url(../images/hotels/filters_background.jpg);
}
.breadcrumbs-link{
  font-family: "PT Sans Bold", "Arial", sans_serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: white;
  align-content: center;
}
